pkgbase = fahclient
	pkgdesc = The (back-end) client software managed by FAHControl (Folding@Home)
	pkgver = 7.4.4
	pkgrel = 1
	url = http://folding.stanford.edu/English/HomePage
	arch = x86_64
	license = GPL3
	optdepends = fahcontrol: GUI for Folding@Home
	source = https://fah.stanford.edu/file-releases/public/release/fahclient/debian-testing-64bit/v7.4/fahclient_7.4.4_amd64.deb
	sha1sums = 06d001110dd05d3c2e55c77c3ec52befb1e92d0e

pkgname = fahclient

